/* #region Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  scroll-behavior: smooth;
}
h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
img {
  display: block;
  max-width: 100%;
}
main {
  margin-bottom: 58px;
}
.container {
  min-width: 260px;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
.section {
  padding: 32px 0;
}
.positive-text {
  color: var(--positive);
}
.negative-text {
  color: var(--negative);
}
/* #endregion */

/* #region root */
:root {
  --positive: oklch(52.7% 0.154 150.069);
  --negative: oklch(50.5% 0.213 27.518);
}
/* #endregion */

/* #region Reset */
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion */

/* #region header section */
.balance-label {
  font-size: 12px;
  color: grey;
}
.total-balance {
  color: oklch(21% 0.034 264.665);
}
.stats-wrapper {
  gap: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
.income-wrapper {
  padding: 16px;
  background-color: rgba(86, 255, 86, 0.147);
  border-radius: 10px;
  flex-grow: 1;
}
.stat-label {
  font-size: 14px;
}
.income-value {
  font-size: 16px;
  font-weight: bold;
  color: var(--positive);
}
.expenses-wrapper {
  padding: 16px;
  background-color: rgba(255, 86, 86, 0.147);
  border-radius: 10px;
  flex-grow: 1;
}
.expenses-value {
  font-size: 16px;
  font-weight: bold;
  color: var(--negative);
}
/* #endregion */

/* #region Spending overview */
.spending-overview-wrapper {
  padding: 24px;
  height: 350px;
  border-radius: 14px;
  border: 1px solid #ff1818;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.spending-overview-title {
  margin-bottom: 16px;
}
/* #endregion */

/* #region history */
.history {
}
.section {
}
.container {
}
.history-container {
}
.history-list {
}
.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
}
.history-item-wrapper {
  flex-direction: column;
}
.history-title {
  margin-bottom: 16px;
}
.history-item-title {
}
.history-item-amount {
}
.expenses-value {
}
.history-item-description {
  padding: 5px 0 0 0;
  font-size: 12px;
}
/* #endregion */

/* #region footer */
.footer {
  background-color: oklch(0.21 0.034 264.665);
  padding: 0 24px;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.container {
}
.footer-container {
}
.footer-nav {
}
.footer-nav-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-nav-item {
}
.footer-nav-icon {
  fill: white;
}
.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 12px;
  padding: 8px;
}
/* #endregion */
